<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blescan">

    <!-- Legacy permissions (Android <= 11) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>

    <!-- Android 12+ runtime permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <!-- Location for BLE discovery -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:label="Amitis BMS"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BleMinimal">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity android:name=".MeterActivity" android:exported="false" android:screenOrientation="portrait" android:configChang="orientation|screenSize|uiMode" />

    </application>

</manifest>
